body{
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
}

.navbar{
  height: 80px;
}

.jumbotron{
  height: 200px;
  background-color: #C5F2E2;
}

.create-song{
  display: none;
}

.temp-show{
  overflow: scroll;
  display: inline;
  /*border: solid black 1px;*/
  height:100px;
}

.create-playlist{
  display: inline;
}

.playlist{
  position: relative;
  padding: 20px;
  height: 250px;
  overflow: scroll;
  background-size: cover;
  color: black;
}

.show-playlist-temp{
  height:200px;
  overflow: scroll;
  padding: 20px;
}

.playlist:hover{
  background-color: black;
  color:white;
}

.song{
  overflow: scroll;
  padding:10px;
  height:190px;
}

.btn{
  overflow: hidden;
}
