body{
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
}

form{
  height:355px;
  background-color: #B9BCFF;
  border-radius: 20px;
}

.modal {
    overflow-y: auto;
}

.navbar{
  height: 80px;
}

.jumbotron{
  height: 200px;
  background-color: #C5F2E2;
}

.create-song{
  display: none;
  margin-top: 100px;
}

.temp-show{
  overflow: auto;
  display: inline;
  height:100px;
}

.create-playlist{
  display: inline;
}


.playlist{
  position: relative;
  padding: 20px;
  height: 250px;
  background-size: cover;
  color: black;
  border-radius: 5px;
}

.show-playlist-temp{
  height:200px;
  overflow: auto;
  padding: 20px;
}

.playlist:hover{
  background-color: black;
  color:white;
}

.song{
  overflow: auto;
  padding:10px;
  height:200px;
  border-radius: 5px;
  border: white 2px solid;
}

.btn{
  overflow: hidden;
}

#show-playlists{
  min-height: 250px;

}

#song-list{
  margin-bottom: 100px;
  min-height: 180px;
}
